#footer
	width 100%
	padding 30px 0
	text-align: center
	background-color: #000B22
	h5
		font-size: 20px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'MerriweatherBold', serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, .6);
		line-height: 1.786;
		font-family: "AvenirNextCyr", sans-serif
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 7px
		position relative
		z-index: 1
		width: 32px;
		height 32px
		background-color: #fff
		transition: all .3s ease
		.fa
			width: 32px;
			height: 32px;
			color #122138
			font-size 18px
			line-height 32px
			position relative
			z-index 9
		&:hover
			background-color #122138
			box-shadow: 0 0 7px rgba(255,255,255,.5)
			.fa
				color #fff