section#main
	.container
		include header
		p.pre Бонус от 
			span Ольги Кононенко
		h1.main_title Название бонуса
		.video_wrapper.video_wrapper_main
			iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)