section#author
	.container
		h3.general_title.general_title_author О тренере - Ольга Кононенко
		img(src="img/olga.png", alt="Ольга Кононенко")#olga
		.row
			.col-md-5.col-sm-6.col-md-offset-7.col-sm-offset-6
				ul.author_list
					li Дважды сертифицированный преподаватель по Дистанционному Видению
					li Сертифицированный НЛП-практик
					li Фасилитатор ACCESS BARS
					li Тета практик ( по методу Theta Healing )
					li Терапевт по методу “Позитивная терапия“ Н. Пезешкиана
					li Рейки практик
					li Нумеролог
					li Обучалась в ИКСР методу “Системные расстановки“ Б.Хеллингер
		.clearfix
		.author_blockquote
			p “Я веду обучающие тренинги , выпускаю квалифицированных специалистов (вьюверов - это новая профессия специалистов, которые могут получить любую информацию, вне зависимости от её нахождения во времени и пространстве)
			p Я просто счастлива от того, что могу помогать открывать способности Человека, данные ему по праву рождения от Бога​​.”
		.clearfix