section#author
	.container
		h3.general_title.general_title_author О тренере - Ольга Кононенко
		img(src="img/olga.png", alt="Ольга Кононенко")#olga
		.row
			.col-md-5.col-md-offset-7
				ul.author_list
					li Дважды сертифицированный преподаватель по Дистанционному Видению
					li Сертифицированный НЛП-практик
					li Фасилитатор ACCESS BARS
					li Тета практик ( по методу Theta Healing )
					li Терапевт по методу “Позитивная терапия“ Н. Пезешкиана
					li Рейки практик
					li Нумеролог
					li Обучалась в ИКСР методу “Системные расстановки“ Б.Хеллингер
		.clearfix
		.author_blockquote
			p “Я веду обучающие тренинги , выпускаю квалифицированных специалистов (вьюверов - это новая профессия специалистов, которые могут получить любую информацию, вне зависимости от её нахождения во времени и пространстве)
			p Я просто счастлива от того, что могу помогать открывать способности Человека, данные ему по праву рождения от Бога​​.”
		.clearfix
section#certs
	.container
		#certs_container.owl-carousel.owl-theme
			a(href="img/certs/0.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/0-m.jpg" alt="Сертификат")
			a(href="img/certs/1.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/1-m.jpg" alt="Сертификат")
			a(href="img/certs/2.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/2-m.jpg" alt="Сертификат")
			a(href="img/certs/3.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/3-m.jpg" alt="Сертификат")
			a(href="img/certs/4.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/4-m.jpg" alt="Сертификат")
			a(href="img/certs/5.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/5-m.jpg" alt="Сертификат")
			a(href="img/certs/6.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/6-m.jpg" alt="Сертификат")
			a(href="img/certs/7.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/7-m.jpg" alt="Сертификат")
			a(href="img/certs/8.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/8-m.jpg" alt="Сертификат")
			a(href="img/certs/9.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/9-m.jpg" alt="Сертификат")
			a(href="img/certs/10.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/10-m.jpg" alt="Сертификат")
			a(href="img/certs/11.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/11-m.jpg" alt="Сертификат")
			a(href="img/certs/12.jpg" data-fancybox="certs")
				img.certs_container_img(src="img/certs/12-m.jpg" alt="Сертификат")