footer#footer
	.container
		p ИП Грудин Андрей Аркадьевич, г. Москва, поселение Рязанковское, пос. Знамя Октября, мкр. Родники, д. 6, кв. 34, 
			br
			| ИНН/КПП 772427896499, ОГРН/ОГРНИП 318774600310986