section#get
	.container
		h3.general_title.general_title_get Этот интенсив необходим вам, если вы желаете:
		.row
			.col-md-6.col-sm-6
				ol.get_list
					li
						span Установить личные отношения и улучшить их
					li
						span Развить дар убеждения
					li
						span Перейти к позитивному мировосприятию
					li
						span Повысить уровень самооценки
					li
						span Преодолеть последствия негативных переживаний прошлого
					li
						span Сосредоточиться на намеченных целях и направлять все силы на их достижение
					li
						span Действовать с максимальной производительностью
					li
						span Управлять своими ощущениями
					li
						span Согласовывать с намеченными целями свои убеждения и систему ценностей
					li
						span Избавиться от нежелательных привычек
			.col-md-6.col-sm-6
				ol.get_list(start="11")
					li
						span Верить в свои силы в любых начинаниях
					li
						span Добиваться того, что прежде казалось невозможным
					li
						span Достигать взаимопонимания с клиентами, заказчиками и коллегами
					li
						span Творчески решать возникающие проблемы
					li
						span Получать удовольствие от того, что прежде вызывало страх
					li
						span Эффективнее распоряжаться своим временем
					li
						span Углубить и укрепить ощущение полноты жизни
					li
						span Выработать в себе те качества, которые восхищают вас в других
					li
						span Получать от жизни больше удовольствия
		button.button.button_get.modal_1 Записаться