section#plan
	.container
		h3.general_title.general_title_plan План интенсива:
		.days
			.day.day_1
				h4.day_number 1
				.day_description
					h5.day_description_title День 1
					ul.day_list
						li Что такое НЛП
						li История создания НЛП
						li Для чего нужны инструменты НЛП
						li Где и кем используется
						li Базовые пресуппозиции (основные аксиомы) НЛП
						li Теория и практика
						li Домашнее задание
			.day.day_2
				h4.day_number 2
				.day_description
					h5.day_description_title День 2
					ul.day_list
						li Знакомство с репрезентативными системами
						li Модальности
						li Предекаты различных репрезентативных систем
						li Домашнее задание
			.day.day_3
				h4.day_number 3
				.day_description
					h5.day_description_title День 3
					ul.day_list
						li Калибровка личности
						li Рапорт
						li Подстройка разными система под собеседника
		h3.plan_aftertitle За три дня мы пройдём 1 ступень НЛП курса!!!
			span Бесплатно!!!
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться