section#revs
	.container
		h3.general_title.general_title_revs Отзывы
		#text_revs.owl-carousel.owl-theme
			a(href="img/revs/text_rev_1.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_1.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_2.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_2.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_3.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_3.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_4.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_4.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_5.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_5.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_6.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_6.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_7.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_7.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_8.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_8.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_9.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_9.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_10.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_10.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_11.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_11.jpg" alt="Текстовый отзыв")
			a(href="img/revs/text_rev_12.jpg" data-fancybox="text_revs")
				img.certs_container_img(src="img/revs/text_rev_12.jpg" alt="Текстовый отзыв")
		h3.general_title.general_title_revs Видео-отзывы
		#video_revs.owl-carousel.owl-theme
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="pIBMXHwleFI">
				<img src="img/revs/video_rev_0.jpg" alt="Отзыв 0" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="YPNRLP8-QYg">
				<img src="img/revs/video_rev_1.jpg" alt="Отзыв 1" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="6vZccb1scEA">
				<img src="img/revs/video_rev_2.jpg" alt="Отзыв 2" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="q9cs-imRJac">
				<img src="img/revs/video_rev_3.jpg" alt="Отзыв 3" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="NR-rYzjdRqs">
				<img src="img/revs/video_rev_4.jpg" alt="Отзыв 4" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="vgtQfrMLNoA">
				<img src="img/revs/video_rev_5.jpg" alt="Отзыв 5" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="NvkoV3aSt_Y">
				<img src="img/revs/video_rev_6.jpg" alt="Отзыв 6" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="JnksHRBOlIA">
				<img src="img/revs/video_rev_8.jpg" alt="Отзыв 7" />
			</div>
			<div class="video_wrapper video_wrapper_video_revs" data-youtube="pSUtc6HFkPY">
				<img src="img/revs/video_rev_9.jpg" alt="Отзыв 8" />
			</div>