#get
	width 100%
	padding 70px 0
	background-color: #0F1634
	background-image url(../img/get_bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.get_list
	width 100%
	max-width 500px
	margin 0 auto
	li
		margin-bottom: 20px
		font-size: 30px;
		color: rgb(255, 255, 255);
		line-height: 1
		font-family: "MerriweatherBold", serif
		span
			font-family: "Merriweather", serif
			font-size: 18px
.button_get
	margin-top: 20px