#header
	padding 25px 0
	position relative
	overflow hidden
	z-index 9
#logo
	float left
	width 296px
	height auto
.contacts
	float right
.contact
	display: inline-block
	margin-left 15px
	padding-left: 35px
	background-repeat no-repeat
	background-position: left center
	line-height: 26px
	font-family: "AvenirNextCyr", sans-serif
	&:focus
		text-decoration: none
		color #fff
	&:hover
		text-decoration: underline
		color #fff
.contact_email
	margin-left: 0
	color #fff
	background-image url(../img/mail_icon.png)
	padding-left: 39px
.contact_skype
	background-image url(../img/skype_icon.png)
.contact_tel
	background-image url(../img/phone_icon.png)