#main
	width 100%
	padding 0 0 70px
	background-color: #551164
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	overflow hidden
	.container
		position relative
		z-index 9
#main_img
	position: absolute
	bottom: -240px;
	right: -80px;
.main_title
	font-size: 60px;
	color: rgb(255, 255, 255);
	line-height: 1
	margin 77px 0 39px
.a_n_d
	color: rgb(255, 255, 255);
	line-height: 1.556;
	span
		display: inline-block
		font-family: "MerriweatherBold", serif
.main_subtitle
	font-size: 25px;
	color: rgb(255, 255, 255);
	line-height: 1.12;
	text-align: center
	margin 55px 0 35px