@media screen and (min-width 2295px)
	body
	.get_list li span
		font-size: 20px
	.container
		width 1400px
	#plan
		background-position: bottom 0 left 91%
	#footer p
	.checking .check_label
		font-size: 16px
	.alert_message
		font-size: 18px
@media screen and (max-width 1199px)
	#logo
		width 220px
		float: none
		display block
		margin 0 auto 10px
	.contacts
		float none
		text-align: center
	.contact
		margin 0 5px
	.main_title
		margin-top:  55px
	.get_list
		max-width 360px
	#plan
		background-position: bottom 0 left -2208%
	.author_blockquote
		float: none
		margin: 0 auto
	.certs_container_img
		height 220px
@media screen and (max-width 991px)
	.contact
		margin 5px
	.main_title
		margin-top: 6px
	.main_subtitle
		margin-top: 25px
	#main
		padding: 0 0 50px
	#main_img
		right -480px
	#get
	#plan
	#author
	#certs
	#revs
		padding 50px 0
	.general_title
		margin-bottom: 30px
	.get_list
		max-width 260px
	.day_number
		width 24%
	.day_description
		width 76%
	#olga
		position: static
		margin 0 auto
		width 100%
		max-width 380px
	.certs_container_img
		height 170px
	#footer
		padding 20px 0
@media screen and (max-width 767px)
	#main
		text-align: center
	#main_img
		display: none
	.video_wrapper_main
		margin: 25px auto 0
	.a_n_d:first-of-type
		margin-bottom: 10px
	.get_list
		list-style-position: inside
		max-width 100%
	.day
		display block
		max-width 460px
		margin 0 auto 20px
	.day_description
		display block
		width 100%
	.day_number
		display: none
	.certs_container_img
		height 120px
@media screen and (max-width 485px)
	#header
		padding: 15px 0
	#logo
		width 160px
	.contact
		font-size: 14px
		line-height: 18px
		background-size 18px
		padding-left: 22px
	.main_title
		margin: 20px 0
		font-size: 50px
	.general_title
		font-size: 24px
	.plan_aftertitle
		font-size: 24px
		margin 30px 0
	.day_description_title
	.author_list li
		margin-bottom: 20px
	#text_revs
		margin-bottom: 40px
	.owl-carousel
		padding-top: 80px
	.owl-theme .owl-nav
		margin-top: 0
	#footer p
		font-size: 12px
@media screen and (max-width 380px)
	.modal_mail
	.button
		height 50px
		line-height 50px
	.main_title
		font-size: 36px
	.main_subtitle
		font-size: 22px
		margin-top: 20px
	#main
		padding 0 0 40px
	#author, #certs, #get, #plan, #revs
		padding 40px 0
	.general_title
		font-size: 22px
		margin-bottom: 20px
	.day_description_title
		font-size: 20px
		margin-bottom: 10px
	.plan_aftertitle
		font-size: 22px
		margin 20px 0
	.author_list
		margin: 20px 0
		li
			margin-bottom: 10px
	.author_blockquote
		padding 20px
	.author_blockquote p:first-child
		margin-bottom: 15px
	.owl-carousel
		padding-top: 0
	.owl-carousel .owl-nav
		position: static
		margin-top: 5px
	#text_revs
		margin-bottom: 20px
	.modal_form_title
		margin-top: 25px
	.certs_container_img
		height 90px