#revs
	width 100%
	padding 70px 0
	background-color: #EEEEEE
	background-image url(../img/revs_bg.jpg)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
.general_title_revs
	color #000
#text_revs
	width 100%
	max-width 700px
	margin: 0 auto 70px
	.owl-stage-outer
		background-color #fff
		box-shadow: 0px 8px 23px 0px rgba(0, 0, 0, 0.17);
.certs_container_img
	height 220px
	object-fit: contain
	object-position: center
	padding 0 20px
#text_revs
#video_revs
	.owl-nav
		[class*="owl-"]
			color #fff
			text-shadow: 0 0 1px #fff
			background-color: #2F76D8
			border-radius: 50%
			border: 2px solid #fff
			transition: all .3s ease
			&:hover
				background-color: transparent
				color #2F76D8
				border-color: #2F76D8